# Australian Grocery Store Python Midterm Solution

- **Name:** Aakriti Lakhanpal
- **Division:** B
- **Roll Number:** 2

- **File Last Updated:** October 2nd, 2021
- **Other Comments:**

# Part 1: Project Setup

In [1]:
# DO NOT DELETE: Import the Pandas, Seaborn, and Matplotlib Packages
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
# DO NOT DELETE: Print all rows of all dataframes
pd.set_option('display.max_rows', None)
pd.options.display.float_format = "{:,.2f}".format

# Part 2: Importing and Preparing the Data (10 Marks)

In [3]:
# Import the "Australian_Grocery_Store_Data_2017.csv" and save it as a dataframe called trans_2017_df
trans_2017_df= pd.read_csv("Australian_Grocery_Store_Data_2017.csv")

# Print the first 5 rows of trans_2017_df. You should see dates from the year 2017 present
trans_2017_df.head(5)

,receipt_id,date,item_code,item_name,quantity,payment_type,unit_buying_price,unit_selling_price,unit_price_margin
0,4c4c9a80-b861-445e-9abc-6e70e84fd0d3,2/17/2017 12:17:17 AM,2003,Apples Pink Lady,0.14,cash,0.00,2.99,2.99
1,65d59c3b-b474-482f-8779-3249d6fee305,2/2/2017 10:14:16 PM,2003,Apples Pink Lady,0.15,cash,0.00,2.99,2.99
2,4443f4db-a5ba-4693-a6e1-70840ce6076e,2/21/2017 2:11:10 AM,2003,Apples Pink Lady,0.15,cash,0.00,2.99,2.99
3,3399ecfd-f809-4653-9310-d41015e09f8a,1/10/2017 3:11:14 AM,2003,Apples Pink Lady,0.15,cash,0.00,2.99,2.99
4,085663fa-1fde-4ffc-adfc-527599065a87,2/3/2017 2:16:10 AM,2003,Apples Pink Lady,0.16,cash,0.00,2.99,2.99

In [4]:
# Import the "Australian_Grocery_Store_Data_2018.csv" and save it as a dataframe called trans_2018_df
trans_2018_df=pd.read_csv("Australian_Grocery_Store_Data_2018.csv")

# Print the first 5 rows of trans_2018_df. You should see dates from the year 2018 present
trans_2018_df.head(5)

,receipt_id,date,item_code,item_name,quantity,payment_type,unit_buying_price,unit_selling_price,unit_price_margin
0,e07045cf-0ca3-4469-a3a5-e2ccb3e58bc8,4/9/2018 5:40:27 PM,9350212000017,Apple Granny Smith 1kg bag,2.00,cash,3.00,2.69,-0.31
1,680a9b08-c623-419a-a889-91e6db4eaddb,2/15/2018 4:19:49 PM,2003,Apples Pink Lady,0.13,cash,0.00,2.99,2.99
2,27bd758f-b646-4601-8c22-7243bed6d027,5/4/2018 1:02:21 PM,2003,Apples Pink Lady,0.13,cash,0.00,2.99,2.99
3,341b63d0-25d2-4751-be8d-d27f487bee19,5/17/2018 11:18:25 AM,2003,Apples Pink Lady,0.14,cash,0.00,2.99,2.99
4,0f3aad8c-60dd-45d6-a9fb-1b70f92563e0,7/17/2018 11:57:02 AM,2003,Apples Pink Lady,0.15,cash,0.00,2.99,2.99

In [5]:
# Concatenate trans_2017_df and trans_2018_df to make a dataframe called all_trans_df (Remember to set ignore index to True)
all_trans_df=pd.concat([trans_2017_df, trans_2018_df], ignore_index = True)

# Print the first 5 rows of trans_df
all_trans_df.head(5)

,receipt_id,date,item_code,item_name,quantity,payment_type,unit_buying_price,unit_selling_price,unit_price_margin
0,4c4c9a80-b861-445e-9abc-6e70e84fd0d3,2/17/2017 12:17:17 AM,2003,Apples Pink Lady,0.14,cash,0.00,2.99,2.99
1,65d59c3b-b474-482f-8779-3249d6fee305,2/2/2017 10:14:16 PM,2003,Apples Pink Lady,0.15,cash,0.00,2.99,2.99
2,4443f4db-a5ba-4693-a6e1-70840ce6076e,2/21/2017 2:11:10 AM,2003,Apples Pink Lady,0.15,cash,0.00,2.99,2.99
3,3399ecfd-f809-4653-9310-d41015e09f8a,1/10/2017 3:11:14 AM,2003,Apples Pink Lady,0.15,cash,0.00,2.99,2.99
4,085663fa-1fde-4ffc-adfc-527599065a87,2/3/2017 2:16:10 AM,2003,Apples Pink Lady,0.16,cash,0.00,2.99,2.99

In [6]:
# We need to add a category column to the current "trans_df" dataset

# Import "Australian_Grocery_Store_Data_Only_Items_Categories.csv" and save it as "item_categories_df" 
item_categories_df=pd.read_csv("Australian_Grocery_Store_Data_Only_Items_Categories.csv")

# Print the first 10 Rows
item_categories_df.head(10)

                     item_name  main_category sub_category
0         2kg Royal gala apple  Fresh Produce       Apples
1   Apple Granny Smith 1kg bag  Fresh Produce       Apples
2  Apple Granny smith 2kg Bags  Fresh Produce       Apples
3                   apple Jazz  Fresh Produce       Apples
4               Apple Jonathan  Fresh Produce       Apples
5   Apple pink lady 1kg Punnet  Fresh Produce       Apples
6          apple pink lady 2kg  Fresh Produce       Apples
7                  Apples Fuji  Fresh Produce       Apples
8      Apples Golden Delicious  Fresh Produce       Apples
9          Apples Granny Smith  Fresh Produce       Apples

In [7]:
# Join/Merge all_trans_df to item_categories_df to create a dataframe called trans_df
# Note: Ensure no rows are dropped from trans_df 
trans_df=pd.merge(all_trans_df, item_categories_df,how="left",on=["item_name"])

# Print the first 5 rows of trans_df. There should be two new columns: main_category and sub_category
trans_df.head(5)

,receipt_id,date,item_code,item_name,quantity,payment_type,unit_buying_price,unit_selling_price,unit_price_margin,main_category,sub_category
0,4c4c9a80-b861-445e-9abc-6e70e84fd0d3,2/17/2017 12:17:17 AM,2003,Apples Pink Lady,0.14,cash,0.00,2.99,2.99,Fresh Produce,Apples
1,65d59c3b-b474-482f-8779-3249d6fee305,2/2/2017 10:14:16 PM,2003,Apples Pink Lady,0.15,cash,0.00,2.99,2.99,Fresh Produce,Apples
2,4443f4db-a5ba-4693-a6e1-70840ce6076e,2/21/2017 2:11:10 AM,2003,Apples Pink Lady,0.15,cash,0.00,2.99,2.99,Fresh Produce,Apples
3,3399ecfd-f809-4653-9310-d41015e09f8a,1/10/2017 3:11:14 AM,2003,Apples Pink Lady,0.15,cash,0.00,2.99,2.99,Fresh Produce,Apples
4,085663fa-1fde-4ffc-adfc-527599065a87,2/3/2017 2:16:10 AM,2003,Apples Pink Lady,0.16,cash,0.00,2.99,2.99,Fresh Produce,Apples

In [8]:
# Create and print a variable called "total_rows" that tells us How many rows in total are present in trans_df
# You should have 372,757 rows. If not, there is an error in the join you did above
total_rows = len(trans_df)
total_rows

372757

# Part 3: Cleaning the Data (5 Marks)

In [9]:
# Make the following columns(item_name, main_category, sub_category, payment_type) follow Title Case aka first letter of each word is Capital)
trans_df["item_name"]=trans_df["item_name"].str.title()
trans_df["main_category"]=trans_df["main_category"].str.title()
trans_df["sub_category"]=trans_df["sub_category"].str.title()
trans_df["payment_type"]=trans_df["payment_type"].str.title()
# Print the first 5 rows of trans_df to show that the Title Case changes have been applied
trans_df.head(5)

,receipt_id,date,item_code,item_name,quantity,payment_type,unit_buying_price,unit_selling_price,unit_price_margin,main_category,sub_category
0,4c4c9a80-b861-445e-9abc-6e70e84fd0d3,2/17/2017 12:17:17 AM,2003,Apples Pink Lady,0.14,Cash,0.00,2.99,2.99,Fresh Produce,Apples
1,65d59c3b-b474-482f-8779-3249d6fee305,2/2/2017 10:14:16 PM,2003,Apples Pink Lady,0.15,Cash,0.00,2.99,2.99,Fresh Produce,Apples
2,4443f4db-a5ba-4693-a6e1-70840ce6076e,2/21/2017 2:11:10 AM,2003,Apples Pink Lady,0.15,Cash,0.00,2.99,2.99,Fresh Produce,Apples
3,3399ecfd-f809-4653-9310-d41015e09f8a,1/10/2017 3:11:14 AM,2003,Apples Pink Lady,0.15,Cash,0.00,2.99,2.99,Fresh Produce,Apples
4,085663fa-1fde-4ffc-adfc-527599065a87,2/3/2017 2:16:10 AM,2003,Apples Pink Lady,0.16,Cash,0.00,2.99,2.99,Fresh Produce,Apples

# Part 4: Adding Columns (10 Marks)

## Adding Columns Using Arithmetic Operators (2 Marks)

In [10]:
# Add a column called "total_buying_price" (Formula: unit_buying_price * quantity)
trans_df["total_buying_price"]=trans_df["unit_buying_price"] * trans_df["quantity"]

# Add a column called "total_selling price" (Formula: unit_selling_price * quantity)
trans_df["total_selling_price"]=trans_df["unit_selling_price"] * trans_df["quantity"]

# Add a column called "total_margin" (Formula: unit_price_margin * quantity)
trans_df["total_margin"]=trans_df["unit_price_margin"] * trans_df["quantity"]

# Print the first 5 rows of trans_df to show that these columns have been added
trans_df.head(5)

,receipt_id,date,item_code,item_name,quantity,payment_type,unit_buying_price,unit_selling_price,unit_price_margin,main_category,sub_category,total_buying_price,total_selling_price,total_margin
0,4c4c9a80-b861-445e-9abc-6e70e84fd0d3,2/17/2017 12:17:17 AM,2003,Apples Pink Lady,0.14,Cash,0.00,2.99,2.99,Fresh Produce,Apples,0.00,0.42,0.42
1,65d59c3b-b474-482f-8779-3249d6fee305,2/2/2017 10:14:16 PM,2003,Apples Pink Lady,0.15,Cash,0.00,2.99,2.99,Fresh Produce,Apples,0.00,0.44,0.44
2,4443f4db-a5ba-4693-a6e1-70840ce6076e,2/21/2017 2:11:10 AM,2003,Apples Pink Lady,0.15,Cash,0.00,2.99,2.99,Fresh Produce,Apples,0.00,0.45,0.45
3,3399ecfd-f809-4653-9310-d41015e09f8a,1/10/2017 3:11:14 AM,2003,Apples Pink Lady,0.15,Cash,0.00,2.99,2.99,Fresh Produce,Apples,0.00,0.45,0.45
4,085663fa-1fde-4ffc-adfc-527599065a87,2/3/2017 2:16:10 AM,2003,Apples Pink Lady,0.16,Cash,0.00,2.99,2.99,Fresh Produce,Apples,0.00,0.48,0.48

## Adding Time Columns (5 Marks)

In [ ]:
# Convert the date column into date_time type
trans_df["date"]=pd.to_datetime(trans_df["date"])

# Create a column called "year" based on the date column
trans_df["year"]=trans_df["date"].dt.year
     
# Create a column called "quarter" based on the date column
trans_df["quarter"]=trans_df["date"].dt.quarter

# Create a column called "month" based on the date column
trans_df["month"]=trans_df["date"].dt.month_name()

# Create a column called "day_of_week" based on the date column
trans_df["day_of_week"]=trans_df["date"].dt.day_name()

# Create a column called "hour_of_day" based on the date column
trans_df["hour_of_day"]=trans_df["date"].dt.hour

# Print your dataframe to show these columns were added in
trans_df

## Adding a Column Based on Conditions (3 Marks)

In [ ]:
# Create a column called "quantity_type" which has a value of: 
    # "Single" if the quantity is less than or equal to 1.100
    # "Regular" if the quantity is above 1.100 and below 10 
    # "Bulk if equal to or above 10
trans_df.loc[trans_df["quantity"]<=1.100 , "quantity_type"] = "single"
trans_df.loc[(trans_df["quantity"]>=1.100) & (trans_df["quantity"]<10),"quantity_type"] = "regular"
trans_df.loc[trans_df["quantity"]>=10 , "quantity_type"] = "bulk"
    
    
    

# Print the first five rows of trans_df to show that these columns were added in
trans_df.head(5)

In [ ]:
# Save "trans_df" as a csv file in your folder as "all_transactions.csv"
trans_df.to_csv("all_transactions.csv")

# Part 5: Overall Business Analysis (10 Marks)

In [ ]:
# Using the Group By and Agg Pandas Function
# Create a dataframe using "trans_df" called "year_df" that has the following columns: 
    # year
    # transactions (Unique Count of Receipt ID)...Hint: Use "nunique" instead of "count"
    # investment(Sum of Total Buying Price)
    # revenue (Sum of Total Selling Price)
    # profit (Sum of Total Margin)
    
year_df = trans_df.groupby(["year"]).agg(transactions=("receipt_id","nunique"),
                                         investment=("total_buying_price","sum"),
                                         revenue=("total_selling_price","sum"),
                                         profit=("total_margin","sum"))
year_df

In [ ]:
# In "year_df" make the following columns: 
    # profit_margin_percentage which is (profit/revenue)*100
year_df["profit_margin_percentage"] = (year_df["profit"]/year_df["revenue"])*100

    # roi_percentage which is (profit/investment) * 100 
year_df["roi_percentage"] = (year_df["profit"]/year_df["investment"])*100    
    # profit_margin_percentage which is (profit/revenue)*100
    
# Print "year_df"
year_df

In [ ]:
# Create appropriate variables using the sum() and mean() functions on the columns of year_df
# and print the following statistics in the following format: 

    # The total investment over 2 years is X. ... Hint: Z is a sum of the investment column in year_df
    # The total profit over 2 years is Y. ... Hint: Y is a sum of the profit column in year_df
    # The total return on investment percentage over 2 years is Z %. ... Hint: Z is (Y/X)*100
total_investment = year_df.investment.sum()

total_profit = year_df.profit.sum()

total_return_on_investment_percentage = (total_investment/total_profit)*100

print("The total investment over 2 years is",total_investment)
print("The total profit over 2 years is",total_profit)
print("The total return on investment percentage over 2 years is",total_return_on_investment_percentage,"%")

In [ ]:
# Save "year_df" as a csv file called "year_df.csv"
year_df.to_csv("year_df.csv")

# Part 6: High Level Item Analysis (10 Marks)

In [ ]:
# Using the Group By and Agg Pandas Functions
# Create a dataframe using "trans_df" called "items_df" that has the following columns:
    # item_name
    # main_category
    # sub_category
    # unit_buying_price (Mean of Unit Buying Price)
    # unit_selling_price (Mean of Unit Selling Price)
    # unit_price_margin (Mean of Unit Price Margin)
    # quantity (Sum of Quantity)
    # investment (Sum of Total Buying Price)
    # revenue (Sum of Total Selling Price)
    # profit (Sum of Total Margin)
items_df=trans_df.groupby(["item_name","main_category","sub_category"]).agg(unit_buying_price = ("unit_buying_price","mean"),
                                                                           unit_selling_price = ("unit_selling_price","mean"),
                                                                           unit_price_margin = ("unit_price_margin","mean"),
                                                                           quantity = ("quantity", "sum"),
                                                                           investment = ("total_buying_price", "sum"),
                                                                           revenue = ("total_selling_price","sum"),
                                                                           profit = ("total_margin","sum"))
# Reset the index of items_df
items_df=items_df.reset_index()


# Print the top 20 items in items_df by the item_name column in ascending order
top_20_items=items_df.sort_values("item_name",ascending= True).head(20)
top_20_items

## What are the top 10 items by revenue?

In [ ]:
# What are the top 30 most revenue generating items for the last two years? 
# Hint: Sort items_df by the revenue column in descending order
rev_generating_top_30_items = items_df.sort_values("revenue",ascending= False).head(30)
rev_generating_top_30_items

## What are the top 10 items by quantity?

In [ ]:
# What are the top 10 most items by quantity for the last two years? 
# Hint: Sort items_df by the quantity column in descending order
quantity_of_top_10_items = items_df.sort_values("quantity",ascending= False).head(10)
quantity_of_top_10_items

## What are the top 10 items by profit?

In [ ]:
# What are the top 10 most items by quantity for the last two years? 
# Hint: Sort items_df by the quantity column in descending order
quantity_of_top_10_items = items_df.sort_values("quantity",ascending= False).head(10)
quantity_of_top_10_items

In [ ]:
# Save items_df as a csv file called "items_df.csv"
items_df.to_csv("items_df.csv")

# Part 7: Category and Sub Category Analysis (5 Marks)

In [ ]:
# Using the Group By and Agg Pandas Functions
# Create a dataframe using "trans_df" called "categories_df" that has the following columns:
    # main_category
    # quantity (Sum of Quantity)
    # investment (Sum of Total Buying Price)
    # revenue (Sum of Total Selling Price)
    # profit (Sum of Total Margin)
categories_df = trans_df.groupby(["main_category"]).agg(quantity = ("quantity", "sum"),
                                                    investment = ("total_buying_price", "sum"),
                                                    revenue = ("total_selling_price","sum"),
                                                    profit = ("total_margin","sum"))
        
# Print the top 5 rows in categories_df sorted by profit in Descending Order
top_5_rows=categories_df.sort_values("profit",ascending= False).head(5)
top_5_rows

In [ ]:

# Make a column in categories_df called roi_percentage which is the (profit/investment)*100 
categories_df["roi_percentage"] = (categories_df["profit"]/categories_df["investment"])*100
# Print categories_df sorted by roi_percentage in descending order
items = categories_df.sort_values("roi_percentage",ascending= False)
items

In [ ]:
# Save categories_df as a csv file called "categories_df.csv"
categories_df.to_csv("categories_df.csv")

# Part 8: Purchase Patterns Analysis (5 Marks)

In [ ]:
# Create a dataframe called "bulk_trans_df" using trans_df that only keeps rows which have the quantity_type as "Bulk"
bulk_trans_df=trans_df.loc[trans_df["quantity_type"] == "bulk"]

# Print bulk_trans_df
bulk_trans_df

In [ ]:
# Using the Group By and Agg Pandas Functions
# Create a dataframe using "bulk_trans_df" called "bulk_df" that has the following columns:
    # item_name
    # main_category
    # sub_category
    # transactions (Count of Unique Receipt IDs)....Hint: Use "nunique" instead of "count"
    # quantity (Sum of Quantity)
    # investment (Sum of Total Buying Price)
    # revenue (Sum of Total Selling Price)
    # profit (Sum of Total Margin)
bulk_df = bulk_trans_df.groupby(["item_name", "main_category", "sub_category"]).agg(transactions = ("receipt_id", "nunique"),
                                                                                investment = ("total_buying_price", "sum"),
                                                                                revenue = ("total_selling_price","sum"),
                                                                                profit = ("total_margin","sum"))


# Print the top 10 rows in bulk_df sorted by the transactions in descending order
top_10_items = bulk_df.sort_values("transactions",ascending= False).head(10)
top_10_items

In [ ]:
# Save bulk_df as a csv file called "bulk_df.csv"
bulk_df.to_csv("bulk_df.csv")

# Part 9: Data Visualization (10 Marks)

## Create one of the bar charts requested below based on your roll number

### If your roll number is odd: Make a bar chart that shows the total profit (sum of total margin) by month. Ensure your bar chart: 

- Is Sorted in Descending Order
- Uses the following color: "#000000"
- Has a Figure Size of 15 x 5
- Remember to reset_index() your bar_chart_df

In [ ]:
# Bar Chart Df

In [ ]:
# Data Visualization

### If your roll number is even: Make a bar chart that shows the total quantity of items by hour of day. Ensure your bar chart: 

- Is Sorted in Descending Order
- Uses the following color: "##00FF00"
- Has a Figure Size of 15 x 10
- Remember to reset_index() your bar_chart_df

In [ ]:
# Bar Chart Df 
bar_chart_df = trans_df.groupby(["hour_of_the_day"]).agg(total_quantity=("quantity", "sum"))
bar_chart_df = bar_chart_df.sort_values("hour_of_the_day", ascending = False).reset_index()
bar_chart_df

In [ ]:
# Data Visualization
sns.set(rc={'figure.figsize':(15,10)})
sns.barplot(x="hour_of_The_day", y="total_quantity", 
            data = bar_chart_df, color = "#00FF00")

# Part 10: Bonus - Fresh Produce Section (10 Marks)
## Using items_df make a dataframe called "fresh_produce_df" that only keeps items that belong to the "Fresh Produce" main category (Hint: Use a filter)

In [ ]:
# Make fresh_produce_df


# Print Fresh Produce

## Print out your answers to the following questions**
- What was the total revenue (aka total selling price) generated by the Fresh Produce category? 
- What was the total investment (aka total buying price) in the Fresh Produce category? 
- What was the total profit(aka revenue - invesmtent)in the Fresh Produce category? 
- What was the roi_percentage in teh Fresh Produce category? 
- Is the Fresh Produce category profitable (aka is the revenue greater than the investment)?

In [ ]:
# Make variables to answer the following questions
    # What was the total investment (aka total buying price) in the Fresh Produce category? 
    # What was the total revenue (aka total selling price) generated by the Fresh Produce category? 
    # What was the total profit(aka revenue - invesmtent)in the Fresh Produce category? 
    # What was the roi_percentage in teh Fresh Produce category? 
    # Is the Fresh Produce category profitable (aka is the revenue greater than the investment)?

In [ ]:
# Print the Variables you created above in the following structure
    # Total investment: X
    # Total Revenue: X 
    # Total Profit: X
    # ROI Percentage: X
    # Is the Fresh Produce category profitable? X %

In [ ]:
# Save fresh_produce_df as a csv file called "fresh_produce_df.csv"

## Which items in the Fresh Produce Section Should we stop selling?

In [ ]:
# Using items_df create a dataframe called "stop_selling_df" which has 
# only fresh produce items that sold less than 730 units in the last 2 years 
# so that we know which items we should consider stop selling

# Print "stop_selling_df" sorted by the quantity column in ascending order

In [ ]:
# Save stop_selling_df as a csv file called "stop_selling_df.csv"

## Which items in the Fresh Produce Section Should we consider for a margin increase?

In [ ]:
# Using items_df create a dataframe called "change_margin_df" 
# to only show fresh produce items thatsold atleast 730 units in the last 2 years
# so that we know which items we should potentially change the margin of

# Print "change_margin_df" sorted by the quantity column in descending order

In [ ]:
# Save change_margin_df as a csv file called "change_margin_df.csv"

## Part 11 A - Bonus (5 marks) - Write a Systematic Method to Evaluate How Valuable a Pantry Staples Item Is To the Grocery Store. As you go about this, think about first defining what valuable means

## Part 11 B - Bonus (5 marks) - Write out how you would execute the systematic method and show us the items you consider as valuable.