# Practice your variables!
Course: BBA 108-Essentials of Computing & Coding

Submission date: Sunday (19/09/21), 11:59 p.m.

Hey everyone! This is a practice bonus assignment worth 10 points. I **highly** encourage all of you to do this.

Please contact the following **on Slack** if there are any questions or issues:

- @Shourya Watwani 
- @Vanshika Raj 
- @Aryan Gupta 

Thank you! Happy coding :)

In [1]:
# Create and print a variable to tell us your name.
My_Name = "Aakriti Lakhanpal"
My_Name

'Aakriti Lakhanpal'

In [9]:
# Create and print a variable to tell us your age.
My_Age = 18
My_Age

18

In [3]:
# Create and print a variable to tell us how many times you've taken a trip within India.
Number_of_trips_within_India = 12
Number_of_trips_within_India

12

In [4]:
# Create and print a variable to tell us how many times you've taken a trip outside India.
Number_of_trips_outside_India = 4
Number_of_trips_outside_India

4

In [5]:
# Create and print a variable to calculate the total number of trips you've taken.
Total_number_of_trips = Number_of_trips_within_India + Number_of_trips_outside_India
Total_number_of_trips

16

In [6]:
# Create and print a variable to tell us total number of trips you've taken, using the numeric value in a sentence.
Total_number_of_trips_taken_sentence = "The total number of trips that i have taken are " + str(12+4)
Total_number_of_trips_taken_sentence

'The total number of trips that i have taken are 16'

In [7]:
# Create and print a variable to tell us whether the statement-
# -"I have taken more trips within India than outside India" is true or false using boolean variables.
Have_taken_more_trips_within_India_than_outside_India = Number_of_trips_within_India > Number_of_trips_outside_India
Have_taken_more_trips_within_India_than_outside_India

True

In [10]:
# Create and print a variable to calculate the average number of trips you've taken in a year using-
# your total number of trips and your age.
Average_number_of_trips_taken_per_year = (Total_number_of_trips/My_Age)
Average_number_of_trips_taken_per_year

0.8888888888888888

In [13]:
# Create and print a variable to tell us average number of trips you've taken, using the numeric value in a sentence.
average_number_of_trips_taken_sentence = "the average number of trips that i have taken are " + str(Average_number_of_trips_taken_per_year)
average_number_of_trips_taken_sentence

'the average number of trips that i have taken are 0.8888888888888888'